div.caption {
}

div.caption p {
    font-size: .8em;
    font-weight: 600;
    text-align: center;
}

div.caption code {
    font-size: 0.875em;
    font-weight: 400;
}

span.caption {
    font-size: .8em;
    font-weight: 600;
}

span.caption code {
    font-size: 0.875em;
    font-weight: 400;
}
