div.caption {
}

div.caption p {
    font-size: .8em;
    font-weight: 600;
    text-align: center;
}

div.caption code {
    font-size: 0.875em;
    font-weight: 400;
}

div.caption img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}

span.caption {
    font-size: .8em;
    font-weight: 600;
}

span.caption code {
    font-size: 0.875em;
    font-weight: 400;
}

/* Estilo de texto */

span.text-monospace {
    font-family: "Source Code Pro", Consolas, "Ubuntu Mono", Menlo, "DejaVu Sans Mono", monospace;
} 
